/* CSS variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #f68d28;
  background-color: #ffe9d2;
  background-image: url(./assets/img-noise-1080x1920.png);
  font-family: "Montserrat";
  min-height: 100vh;
  overflow: hidden;
}
