.buttonNext {
    border-radius: 20px;
    padding: 1vw;
    padding: 1vh;
    padding-left: 10vw;
    padding-right: 10vw;
   
    border: none;
    font-size: 16px;
    font-family: Montserrat;
  

}